@import "tailwindcss";

@theme {
  --bg-color-orange:#fa7f46ff;
  --navbar-blue-text: #007bff;
  --button-verde: #28a745;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  height: 100vh;
}

#root{
  height: 100%;
}
